:root {
    --spenger-color: #ed1944;
    --spenger-color-light-1: #f15373;
    --spenger-color-light-2: #f68c9f;
    --spenger-color-light-3: #fac6cf;
    --spenger-color-dark-1: #bd1436;
    --spenger-color-dark-2: #8e0f29;
    --spenger-color-dark-3: #5f0a1b;
}

body {
    margin: 0 max(1rem, 45vw - 10rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

ul {
    list-style-type: none;
    line-height: 1.4;
}

input,
button {
    font-size: 1.1rem;
    /* background-color: #ed1944;
    */
    border: 2px solid var(--spenger-color-dark-3);
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
}

input:hover,
button:hover {
    background-color: var(--spenger-color-light-2);
    color: var(--spenger-color-dark-3);
    cursor: pointer;
}

button[type="submit"] {
    background: linear-gradient(-45deg, var(--spenger-color), var(--spenger-color-light-1), var(--spenger-color-light-2), var(--spenger-color-light-3));
    background-size: 400% 400%;
}

button[type="submit"]:focus {
    animation: gradientMove 2s ease infinite;
    cursor: wait;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

nav {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.success {
    background: var(--spenger-color-light-2);
    padding: 0.5em;
    border-radius: 0.3em;
}

.right {
    text-align: right;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}