body {
    margin: 0 max(1rem, 45vw - 10rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

ul {
    list-style-type: none;
}

input,
button {
    font-size: 1.1rem;
    /* background-color: #ed1944;
    */
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
}

input:hover,
button:hover {
    background-color: rgb(255, 27, 73);
    color: white;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

nav {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.right {
    text-align: right;
}