{{> top}}
<section class="mx-3">
    <h2 class="ps-5">Angabe und Unterlagen</h2>
    <ul class="list-unstyled ps-5 text-start">
        {{#each files}}
            <li><a href="../unterlagen/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
    <h2 class="ps-5">Dokumentation online</h2>
    <ul class="list-unstyled ps-5 text-start">
        <li><a href="https://learn.microsoft.com/en-us/dotnet/">c# / .NET</a></li>
        <li><a href="https://docs.oracle.com/en/java/javase/21/docs/api/index.html">Javadoc</a></li>
        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="https://developer.mozilla.org/">Developer.mozilla.org</a></li>
        <li><a href="https://www.prisma.io/docs/orm">Prisma</a></li>
    </ul>
</section>
</main>
</body>

</html>