<main id="main-wrapper"
      class="container mt-2 p-2 page-content">
    {{> nav}}
    {{> userbadge}}
    <div class="text-center mb-2 opacity-50">
        <span class="text-uppercase text-dark ls-wide">Meine IP: {{remote_ip}}</span>
    </div>
    <div id="main-content">{{{content}}}</div>
</main>