<nav id="main-nav"
     hx-boost="true"
     hx-target="#main-content"
     class="d-flex justify-content-center gap-2 mb-3 mx-auto flex-wrap">
         <a href="/"
            class="btn btn-info btn-sm rounded-3 px-4 text-uppercase fw-semibold"
            style="min-width: 220px;">Start</a>
        {{#if is_admin}}
            <a href="/admin/students"
               class="btn btn-info btn-sm rounded-3 px-4 text-uppercase fw-semibold"
               style="min-width: 220px;">Schüler</a>
            <a href="/admin/application"
               class="btn btn-info btn-sm rounded-3 px-4 text-uppercase fw-semibold"
               style="min-width: 220px;">Admin</a>
        {{/if}}
         <a href="/upload"
            class="btn btn-info btn-sm rounded-3 px-4 text-uppercase fw-semibold"
            style="min-width: 220px;">Datei hochladen</a>
</nav>
