<nav id="main-nav"
     hx-boost="true"
     hx-target="#main-content"
     class="d-flex justify-content-center gap-2 mt-5 mb-2 mx-auto p-1 flex-wrap">
    <a href="/"
       class="btn btn-sm btn-info text-white border-0 flex-grow-1 flex-sm-grow-0">Home</a>
    {{#if is_admin}}
        <a href="/forensic"
           class="btn btn-sm btn-info text-white border-0 flex-grow-1 flex-sm-grow-0">Forensic</a>
    {{/if}}
    <a href="/upload"
       class="btn btn-sm btn-info text-white border-0 flex-grow-1 flex-sm-grow-0">Zipfile Upload</a>
</nav>