{{> top}}
<form action="/upload"
      method="POST"
      enctype="multipart/form-data"
      class="border border-2 border-black needs-validation p-4 rounded-2"
      novalidate="">
       <div class="mb-3">
              <label class="d-block form-label h3 text-center mb-3">Bitte ZIP Datei auswählen:</label>
              <input type="file"
                     class="form-control"
                     name="file"
                     accept=".zip"
                     required>
              <div class="invalid-feedback">Bitte eine ZIP-Datei auswählen.</div>
       </div>
       <div class="text-center">
              <button type="submit"
                      class="btn btn-primary">Upload</button>
       </div>
</form>
</main>
</body>

</html>