{{> top}}
<h2>Anmelden / Name ändern</h2>
<!-- 1. Das Suchfeld -->
<div class="mb-3">
    <label class="form-label">Suche <input type="text"
               class="form-control"
               name="email"
               placeholder="Tippen zum Filtern..."
               hx-get="/ldap"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#options-select">
    </label>
</div>
<!-- 2. Die Select-Box -->
<div class="mb-3">
    <label class="form-label">Auswahl <select id="options-select"
                class="form-select"
                name="email"
                size="10"
                hx-post="/register"
                hx-trigger="change">
            <!-- Initialer Inhalt oder leer -->
            <option value=""
                    selected>Bitte zuerst suchen...</option>
        </select>
    </label>
</div>
<p>remote_user.ip: {{remote_user.ip}}</p>
<p>remote_user.name: {{remote_user.name}}</p>
<p>remote_user.email: {{remote_user.email}}</p>
<p>remote_ip: {{remote_ip}}</p>
</main>
</body>

</html>