{{> top}}
<h2 class="my-3 text-center">Anmelden / Name ändern</h2>
<!-- 1. Das Suchfeld -->
<div class="mb-3">
    <label class="w-100">Suche nach Email<input type="text"
               class="form-control mt-1"
               name="email"
               placeholder="Anfangsbuchstaben meiner Email..."
               hx-get="/ldap"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#options-select">
    </label>
</div>
<!-- 2. Die Select-Box -->
<div class="mb-3">
    <label class="w-100">Auswahl <select id="options-select"
                class="form-select mt-1"
                name="email"
                size="10"
                hx-post="/register"
                hx-trigger="change"
                hx-target="body"
                hx-push-url="true"
                hx-swap="innerHTML">
            <!-- Initialer Inhalt oder leer -->
            <option value=""
                    selected>Bitte oben suchen...</option>
        </select>
    </label>
</div>
</main>
</body>

</html>