<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Unterlagen</title>
    <link rel="stylesheet"
          href="static/style.css">
</head>

<body>
    {{> top}}
    <h2>{{UNTERLAGEN_DIR}}:</h2>
    <ul>
        {{#each files}}
            <li><a href="{{../UNTERLAGEN_DIR}}/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</body>

</html>