{{> top}}
<h2 class="success">Abgabe Erfolgreich!</h2>
<ul>
    <li><strong>Dateiname</strong>: {{filename}}</li>
    <li><strong>IP</strong>: {{remote_ip}}</li>
    <li><strong>Größe</strong>: {{filesize}} Bytes</li>
    <li><strong>MD5-Summe</strong>: {{md5sum}}</li>
</ul>

</html>