<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet"
          href="static/style.css">
</head>

<body>
    {{> top}}
    <h1>Upload Successful!</h1>
    <p>Sie haben soeben {{filename}} von der IP {{remote_ip}} hochgeladen.</p>
    <a href="javascript:history.back()">Go Back</a>
</body>

</html>