<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>PLF</title>
    <link rel="stylesheet"
          href="static/style.css">
</head>

<body>
    <h1>PLF - Router</h1>
    <nav>
        <a href="/">Unterlagen</a>
        <a href="/upload">Zipfile Upload</a>
    </nav>
