<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet"
          href="static/style.css">
</head>

<body>
    {{> top}}
    <h2>Zipfile Upload</h2>
    <p>Ihre IP-Adresse: {{remote_ip}}</p>
    <form action="/upload"
          method="POST"
          enctype="multipart/form-data">
        <label for="fileInput">Choose a file:</label>
        <input type="file"
               id="fileInput"
               name="file"
               accept="*" />
        <br /><br />
        <button type="submit">Upload</button>
    </form>
</body>

</html>